HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

src/main/resources/application.yaml
src/main/resources/static/css
src/main/resources/static/fonts
src/main/resources/static/plugin
src/main/resources/static/scripts

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
